{% extends 'base2.html.twig' %}

{% block title %}Edit Astuce{% endblock %}

{% block body %}
    <h1>Edit Astuce</h1>

    {{ include('astuce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('astuce_index') }}">back to list</a>

    {{ include('astuce/_delete_form.html.twig') }}
{% endblock %}
