{% extends 'base2.html.twig' %}

{% block title %}New Actu{% endblock %}

{% block body %}
    <h1>Ajouter une actualité</h1>

    {{ include('actu/_form.html.twig') }}

    <a href="{{ path('actu_index') }}">back to list</a>
{% endblock %}
