{% extends 'base2.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
       <h1>Ajouter une video</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('video_index') }}">back to list</a>
{% endblock %}
