{% extends 'base2.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
        <h1>Ajouter une categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">back to list</a>
{% endblock %}
